.categoryBtn > button{
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 20px;
}

.boardSizeView{
    text-align: right;
}
.boardInfo{
    text-align: right;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    font-size: 20px;
    color: blueviolet;
}

.search{
    display: flex;
    justify-content: end;
    align-items: center;
}

.searchSelect{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.searchBox{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.searchBox > input{
    width: 100%;
}
.searchBox > button{
    width: 40%;
}

.categoryActive{
    background-color: black;
    color: white;
}

.boardViewBox{
    margin-top : 20px;
    padding : 50px;
}

.boardViewBox .viewTitle{
    margin-right: 10px;
    font-weight: bold;
}

.boardViewBox > div{
    padding: 20px 0px;
    border-bottom: 1px solid #e8e8e8;
}

.boardViewBox > div:nth-child(1){ /*제목*/
}

.boardViewBox > div:nth-child(1) > span{ /*제목*/
    font-size : 25px;
}

.boardViewBox > div:nth-child(2){ /*기타정보*/
    display: flex;
    justify-content: space-between;
}

.boardViewBox > div:nth-child(3){ /*내용*/
    min-height: 500px;
    /* min-height: ; 최소높이 : 내용물 더 커지면 커진다 */
    /* max-height: ; 최대높이 : 내용물 더 커지면 고정 */
}

.boardViewBox > div:nth-child(4){ /*버튼구역*/
    
}
