{{>ezenweb/header}}

    <div class="container">
        <div>
            <h3>카카오지도</h3>
            <div id="map" style="width:500px;height:400px;"></div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3d9528216e56681ca42cf1fd8986fd88&libraries=clusterer"></script>
        </div>

        <h3>공공데이터 : 안산시 원곡동 일반음식점</h3>
        <table class="table">
            <thead>
                <th>도로명전체주소</th>
                <th>사업자명</th>
                <th>대표메뉴1</th>
                <th>메뉴가격1</th>
                <th>대표전화</th>
                <th>주차가능</th>
            </thead>
            <tbody class="apiTable2">

            </tbody>
        </table>
        <h3>공공데이터 : 안산시 강우량</h3>
        <table class="table">
            <thead>
                <tr>관리기관명</tr>
                <tr>날짜</tr>
                <tr>지역</tr>
                <tr>우량(mm)</tr>
            </thead>
            <tbody class="apiTable1">

            </tbody>
        </table>
    </div>

    <script src="/js/api/api.js"></script>


{{>ezenweb/footer}}