{{>ezenweb/header}}
    <div class='container'>
        <div class='loginbox'>

                <div class='login'>
                    <h3>로그인 페이지</h3>
                    <div class="label"> 아이디 </div>
                    <input type="text" id="id"/>
                
                <div class="label"> 비밀번호 </div>
                    <input type="text" id="pw"/>

                <div class="label"> <a href="/member/signup">회원가입</a> </div>

                <div class="label"> <button type="button" onclick="login()">로그인</button> </div>
            </div>
        <div>
    </div>

    <script src="/js/member.js"></script>
{{>ezenweb/footer}}
