{{>layouts/header}}
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> TITLE </th>
        <th> CONTENT </th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles">Go To Article</a>
<a href="/articles/{{article.id}}/edit">수정 EDIT</a>
<a href="/articles/{{article.id}}/delete">삭제 DELETE</a>
{{>layouts/footer}}